.home{
    padding:50px 0px;
    border-bottom:1px solid grey;
}
.introduction{
    border-bottom:1px solid grey;
}
.skills{
    border-bottom:1px solid grey;
}
.posts{
    border-bottom:1px solid grey;
}
.news{
    border-bottom:1px solid grey;
}